/*============================================
=            Variable Definitions            =
============================================*/
/*----------  colors  ----------*/
/*$veiga-gray:	#d9d9d9;*/


/*=============================
=            Fonts            =
=============================*/
@font-face {
	font-family: oswald-light;
	src: url('../fonts/oswald-light.eot');
	src: url('../fonts/oswald-light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/oswald-light.woff') format('woff'),
		url('../fonts/oswald-light.ttf') format('truetype'),
		url('../fonts/oswald-light.svg#Oswald-Light') format('svg');
}

@font-face {
	font-family: oswald;
	src: url('../fonts/oswald.eot');
	src: url('../fonts/oswald.eot') format('embedded-opentype'),
		 url('../fonts/oswald.woff2') format('woff2'),
		 url('../fonts/oswald.woff') format('woff'),
		 url('../fonts/oswald.ttf') format('truetype'),
		 url('../fotns/oswald.svg#oswald') format('svg');
}

@font-face {
	font-family: oswald-stencil;
	src: url('../fonts/oswald-stencil.eot');
	src: url('../fonts/oswald-stencil.eot?#iefix') format('embedded-opentype'),
		url('../fonts/oswald-stencil.woff') format('woff'),
		url('../fonts/oswald-stencil.ttf') format('truetype'),
		url('../fonts/oswald-stencil.svg#OswaldStencil-Bold') format('svg');
}

@font-face {
	font-family: deftonestylus;
	src: url('../fonts/deftonestylus.eot');
	src: url('../fonts/deftonestylus.eot?#iefix') format('embedded-opentype'),
		url('../fonts/deftonestylus.woff') format('woff'),
		url('../fonts/deftonestylus.ttf') format('truetype'),
		url('../fonts/deftonestylus.svg#OswaldStencil-Bold') format('svg');
}

/*=====================================
=            RESET STYLING            =
=====================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}


/*----------  HTML5 Elements Reset  ----------*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}

audio, canvas, video, progress, picture {
	display: inline-block;
}

template {
	display: none;
}

/*----------  Form Elements Reset  ----------*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

input[type="search"] {
	-webkit-appearance: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/*=====================================
=            Base Elements            =
=====================================*/
html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #F6F5F1;
	font-family: oswald-light, "Helvetica Neue", "HelveticaNeue", Arial, sans-serif;
}

a {
	color: initial;
	text-decoration: none;
}


p {
	text-align: left;
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 12px;
}
	p.bold {
		font-size: 35px;
		font-family: oswald, sans-serif;
		text-align: left;
	}

h2 {
	font-size: 40px;
	text-align: left;
	margin: 0px 10px 42px;
}

h3 {
	font-size: 30px;
	text-align: left;
	margin: 0px 0px 15px 0px;
}

h4 {
	font-family: oswald, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

label,
input,
textarea {
	position: relative;
	width: calc(100% - 22px);
	margin: 8px 0px;
	font-family: oswald, sans-serif;
}
input {
	height: 40px;
	padding-left: 10px;
	line-height: 30px;
	font-size: 20px;
	letter-spacing: 1px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
	input[type="submit"] {
		cursor: pointer;
		width: 98%;
		height: 40px;
		background: #DD4B39;
		line-height: 22px;
		color: white;
		font-family: oswald, "Helvetica Neue";
		font-size: 18px;
		border: none;
		margin-bottom: 10px;
		padding: 10px;
		box-shadow: 0px 3px #E00000;
		-moz-box-shadow: 0px 3px #E00000;
		-webkit-box-shadow: 0px 3px #E00000;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
		input[type="submit"]:hover {
			position:relative;
			top:3px;
			box-shadow:none;
			-moz-box-shadow:none;
			-webkit-box-shadow:none;
		}

textarea {
	line-height: 30px;
	font-size: 20px;
	padding: 10px;
	border: 1px solid #CCCCCC;
	width: calc(98% - 20px);
	height: 115px;
}

::-webkit-input-placeholder, /* WebKit browsers */
:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
::-moz-placeholder, /* Mozilla Firefox 19+ */
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    black;
   opacity:  1;
}

svg {
	width: 100%;
}

/*===============================================
=            Header Section Elements            =
===============================================*/
.header-wrap {
	position: relative;
	display: block;
	width: 100%;
	height: 65px;
	border-bottom: 2px solid #83c2d3;
	background-color: white;
}
	.logo-holder {
		position: relative;
		display: block;
		float: left;
		height: 100%;
	}
		.logo-holder img {
			height: 100%;
		}

	.menu-holder {
		position: relative;
		display: block;
		float: right;
		height: 100%;
	}

.header,
.page {
	position: relative;
	display: block;
	width: 980px;
	margin: auto;
	height: 100%;
}

ul.menu {
	display: block;
	height: 100%;
}
	.menu li {
		position: relative;
		display: block;
		float: left;
		padding: 22px 10px;
		font-size: 22px;
		cursor: pointer;
	}
		.menu li:hover a,
		.menu li.selected a {
			color: #83c2d3;
		}

/*============================================
=            Body Content Styling            =
============================================*/
.page-wrap {
	position: relative;
	display: block;
	width: 100%;
	min-height: calc(100% - 67px);
	overflow: auto;
}
	.page-wrap.contact {
		background-color: #F6F5F1;
	}

.page {
	margin: 40px auto;
	overflow: hidden;
}
	.page ul.menu {
		width: 235px;
		margin: auto;
		overflow: auto;
	}
		.page ul.menu a {
			color: #FFCC00;
			text-shadow: 1px 1px 1px black;
		}
		.page ul.menu li:hover a {
			color: #d9d9d9;
		}

/*=============================================
=            Other Styling / Misc.            =
=============================================*/
text.svg-font {
	font-family: deftonestylus, sans-serif;
	font-weight: normal;
	font-size: 150px;
	line-height: 200px;
	color: #363636;
}

a.accent {
	display: inline-block;
	height: 38px;
	color: #b9b9b9;
	text-shadow: 1px 1px 1px black;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-kthtml-transition: all .3s linear;
	transition: all .3s linear;
}
	a.accent:hover {
		color: #FFCC00;
		text-shadow: 1px 1px 1px black;
	}

.howdy-holder {
	display: block;
	max-width: 600px;
	text-align: center;
	margin: auto;
}

.row {
	display: block;
	width: 100%;
	overflow: auto;
}

.one-third:first-child,
.two-third:first-child {
	margin-left: 0px;
}
	.one-third:first-child {
		width: 33%;
	}
	.two-third:first-child {
		width: 67%;
	}

.one-third,
.two-third {
	position: relative;
	margin: 0px 0px 30px 30px;
	display: block;
	float: left;
}
	.one-third {
		width: calc(33% - 30px);
	}
	.two-third {
		width: calc(67% - 30px);
	}

.picture-frame {
	background-color: white;
	padding: 10px;
	width: calc(100% - 20px);
}
	.picture-frame img {
		width: 100%;
	}
	.picture-frame p {
		margin: 10px 0px 0px;
	}

.about-holder {
	/*background-color: white;*/
	padding: 10px;
}
	.about-holder p {
		font-size: 20px;         
	}

.info-holder {
	/*background-color: white;*/
	margin: 30px 0px 0px;
	padding: 10px;
}
	.info-holder p {
		text-align: center;
	}


/*===========================================
=            Custom Form Styling            =
===========================================*/
.form-side, .info-side {
	float: left;
	display: block;
	margin: 0px 10px;
}
	.form-side {
		width: calc(450px - 20px);
	}
	.info-side {
		width: calc(250px - 20px);
	}

.social img {
	float: left;
	width: 80px;
	margin: 10px 7.5px;
}

.email-holder {
	position: relative;
	display: block;
	width: 92%;
	margin: auto;
	/*background-color: white;*/
	padding: 20px;
	overflow: hidden;
}
