/* ---------------------------------------------------------------------
BREAK #1
------------------------------------------------------------------------ */
@media only screen and (max-width: 980px) {
	.header,
	.page {
		width: 720px;
	}
	
	.form-side,
	.info-side {
		width: 99%;
		margin-bottom: 50px;
	}

	input[type="submit"] {
		height: 55px;
		font-size: 24px;
	}
	
	.picture-frame p {
		font-size: 20px;
	}
}

/* ---------------------------------------------------------------------
BREAK #2
------------------------------------------------------------------------ */
@media only screen and (max-width: 720px) {
	.header,
	.page {
		width: 640px;
	}

	text.svg-font {
	    font-size: 110px;
	}

	.howdy-holder {
	    max-width: 436px;
	}

	.one-third, .one-third:first-child,
	.two-third, .two-third:first-child {
		width: 100%;
		margin: 0px;
	}

	.picture-frame,
	.about-holder {
		max-width: 400px;
		margin: 0px auto 10px;
	}
		.page-wrap.about .picture-frame p {
			display: none;
		}

	.picture-frame p {
		font-size: 25px;
	}
}

/* ---------------------------------------------------------------------
BREAK #3
------------------------------------------------------------------------ */
@media only screen and (max-width: 640px) {
	.header,
	.page {
		width: calc(98% - 60px);
	}
	
	.header {
		margin: 0px 30px;
	}

	.page {
		margin: 40px 30px;
	}
}

/* ---------------------------------------------------------------------
BREAK #4
------------------------------------------------------------------------ */
@media only screen and (max-width: 560px) {
	.page {
		width: calc(100% - 20px);
		margin: 40px 10px;
	}

	h3 {
		font-size: 28px;
	}

	text.svg-font {
	    font-size: 100px;
	}

	.howdy-holder {
	    max-width: 400px;
	}

	.form-side {
		width: 99%;
		margin: 0px;
	}
}

/* ---------------------------------------------------------------------
BREAK #5
------------------------------------------------------------------------ */
@media only screen and (max-width: 440px) {
	.logo-holder {
		float: none;
		width: 130px;
		margin: auto;
	}
	.menu-holder {
		float: none;
		width: 232px;
		margin: auto;
	}

	text.svg-font {
		font-size: 85px;
		line-height: 150px;
	}
}
