<p>Logged in as Admin.</p>
<!-- <div class="panel panel-default">
	<div class="panel-heading">
		{{ question }}
	</div>
	<div class="panel-body">
		<div class="question-answer" ng-repeat="answer in listOfAnswers">
			{{ answer.option }}. {{ answer.text }}
			<div class="progress progress-striped active">
				<div class="progress-bar progress-bar-success" role="progressbar"
					aria-valuenow="{{answer.percentage}}" aria-valuemin="0"
					aria-valuemax="100" style="width: {{answer.percentage}}%">
					<span class="sr-only">{{ answer.percentage }}% Complete (success)</span>
				</div>
			</div>
		</div>
	</div>
</div> -->
